body {
	
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}



.contact-container {
	max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.contact-form, .contact-info {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    text-align: left;
}

h2 {
    color: #ff4d4d;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 12px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e60000;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-info a img {
    width: 40px;
    margin: 10px;
}


