<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
</head>
<body>
    <h2>Quên mật khẩu</h2>
    <form th:action="@{/forgot-password}" method="post">
        <label>Nhập email của bạn:</label>
        <input type="email" name="email" required><br>
        <button type="submit">Gửi yêu cầu</button>
    </form>

    <a href="/login">Quay lại đăng nhập</a>
</body>
</html>
